body {
    display: flex;
    flex-direction: column;
    background-image: url(bg.gif);
    background-size: cover;
    background-position: center;
    margin:0;
    padding:0;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#title{
    color: blueviolet;
    font-size: 70px;
    text-align: center;
    justify-content: center;
    padding-top: 20px;
}

.buttons{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.buttons button{
    background-color: rgba(104, 87, 87, 0.288);
    font-size: 25px;
    color: white;
    padding:10px 20px;  
    width: 150px;
    height: 65px;
    border: none;
    border-radius: 12px;
}

.buttons button:hover {
    color: black;
    background-color: gray;
}

@media (max-width: 600px) {
    #title {
        font-size: 13vw;
        padding-top: 90px;
    };
}